# name: Create Plan

# on: [push, pull]

# permissions:
#   contents: read
#   pull-requests: write

# jobs:
#   plan:
#     runs-on: ubuntu-latest
#     name: Create terraform plan
#     env:
#       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}